<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask-Web</title>
</head>

<body>
    <h1>哔哩图床</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" value="选择图片" name="file" />
        <input type="submit" value="上传" class="button-new" />
    </form>
    <h2>图片链接：<br>{{img_url}}</h2>
    <h2>短网址：<br>{{short_url}}</h2>
    <img src="{{url_for('static', filename= './temp233.jpg',_t=time)}}" width="400" alt="你的图片被外星人劫持了～～" />
</body>

</html>